version: "3.9"
services:
  server:
    build: ./server
    ports:
      - "8000:8000"
  client:
    build: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000
